# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    calculator.css                                     :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: esantaca <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2019/08/29 15:21:23 by esantaca          #+#    #+#              #
#    Updated: 2019/08/29 19:55:31 by esantaca         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

.app-container {
  background: Grey;
}

.calculator-container {
  background:PaleTurquoise;
  margin: 0 auto;
  border-color: blue;
  border-width: 3px;
  border-style: solid;
  font-size: 20px;
  width: 300px;
  height: 420px;;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:  
      "formula formula formula formula"
      "output output output output"
      "AC AC divide mult"
      "seven eight nine minus"
      "four five six plus"
      "one two three equal"
      "zero zero dot equal";
  
}

.display{
  color: white;
  background: black;
}

#calculator-visualisation{


}

#formula{
  grid-area: formula;
}

#output{
  grid-area: output;
}

#AC{
  grid-area: AC;
  font-size: 17px;
}

#divide{
  grid-area: divide;
  background: #aaa69d;
  color: white;
  font-size: 17px;
}

#divide:hover{
  background: #84817a;
  color: white;
}

#mult{
  grid-area: mult;
  background: #aaa69d;
  color: white;
  font-size: 17px;
}

#mult:hover{
  background: #84817a;
  color: white;
}

#minus{
  grid-area: minus;
  background: #aaa69d;
  color: white;
  font-size: 17px;
}

#minus:hover{
  background: #84817a;
  color: white;
}

#plus{
  grid-area: plus;
  background: #aaa69d;
  color: white;
  font-size: 17px;
}

#plus:hover{
  background: #84817a;
  color: white;
}

#equal{
  grid-area: equal;
  font-size: 17px;
}

#dot{
  grid-area: dot;
  background: #f1f2f6;
  color: #57606f;
  font-size: 17px;
}

#dot:hover{
  background: #dfe4ea;
}

#zero{
  grid-area: zero;
  background: #f1f2f6;
  color: #57606f;
  font-size: 17px;
}

#zero:hover{
  background: #dfe4ea;
}

#one{
  grid-area: one;
  background: #f1f2f6;
  color: #57606f;
  font-size: 17px;
}

#one:hover{
  background: #dfe4ea;
}

#two{
  grid-area: two;
  background: #f1f2f6;
  color: #57606f;
  font-size: 17px;
}

#two:hover{
  background: #dfe4ea;
}

#three{
  grid-area: three;
  background: #f1f2f6;
  color: #57606f;
  font-size: 17px;
}

#three:hover{
  background: #dfe4ea;
}

#four{
  grid-area: four;
  background: #f1f2f6;
  color: #57606f;
  font-size: 17px;
}

#four:hover{
  background: #dfe4ea;
}

#five{
  grid-area: five;
  background: #f1f2f6;
  color: #57606f;
  font-size: 17px;
}

#five:hover{
  background: #dfe4ea;
}

#six{
  grid-area: six;
  background: #f1f2f6;
  color: #57606f;
  font-size: 17px;
}

#six:hover{
  background: #dfe4ea;
}

#seven{
  grid-area: seven;
  background: #f1f2f6;
  color: #57606f;
  font-size: 17px;
}

#seven:hover{
  background: #dfe4ea;
}

#eight{
  grid-area: eight;
  background: #f1f2f6;
  color: #57606f;
  font-size: 17px;
}

#eight:hover{
  background: #dfe4ea;
}

#nine{
  grid-area: nine;
  background: #f1f2f6;
  color: #57606f;
  font-size: 17px;
}

#nine:hover{
  background: #dfe4ea;
}
